* {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    z-index: 0;
    font: inherit;
    /* 부모요소 상속 */
    /* vertical-align: baseline; */
    font-size: 100%; 
    /* 16px */
    line-height: 1;
    /* 세로 높이의 위쪽 기준 */
    text-align: left;
    /* 가로 너비의 왼쪽 기준 */

    list-style: none;
    quotes: none;
    content: '';
    content: none;
    border-collapse: collapse;
    border-spacing: 0;

}