/* 초기화 */
* {
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 0;
    font: inherit; /* 글자 부모요소 상속 */
    vertical-align: baseline; /* 글자 아래 라인에 맞춤 */
    font-size: 100%; /* 16px */
    line-height: 1; /* 세로 높이의 위쪽 기준 */
    text-align: left; /* 가로 너비의 왼쪽 기준 */
    list-style: none; /* 목록을 없애기 */
    quotes: none; /* 인용문 없애기 */
    border-collapse: collapse; /* 표의 테두리와 셀의 사이 간격을 없앰 */
    border-spacing: 0; /* 표의 테두리와 셀 사이 간격을 0으로 */
}

/**************************/
/* 헤더 - 로고, 내비게이션 */
/**************************/

/* 헤더 공간 만들기 */
#header {
    width: 100%;
    height: 100px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    background-color: white;
    position: fixed;
    z-index: 5;
    min-width: 810px;
}

/***************/
/* 헤더 + 로고 */
/**************/

/* 로고 공간 만들기 */
#logo {
    height: 100%;
    text-align: center;
    float: left;
    transform: translateY(30%);
    margin: 0 20px;
}

/* 로고 스타일 */
#logo a {
    color: #FE750E;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

/********************/
/* 헤더 + 내비게이션 */
/********************/

/* 내비 공간 만들기 */
#nev {
    width: 100%;
    height: 100px;
    font-size: 0;
    margin-top: 60px;
}

/* 내비 위치 */
#topMenu {
    float: right;
}

/* 목록 위치 */
#topMenu > li {
    float: left;
    position: relative;
}

/* 메인메뉴 글자 스타일 */
#topMenu > li > a {
    color: black;
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* 서브메뉴 글자 스타일 */
#topMenu a {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    display: block;
    background-color: white;
}

/* 서브메뉴 배경 스타일 */
#topMenu > li > ul {
    display: none;
    position: absolute;
    background-color: white;
    width: 110px;
}

/*************/
/* 내비 효과 */
/*************/

/* 메인메뉴 마우스 올릴 때 효과 */
#topMenu > li > a:hover {
    color: #FE750E;
    border-bottom-style: solid;
    border-bottom-width: medium;
}

/* 메인메뉴 마우스 올릴 때 서브메뉴 효과 */
#topMenu > li:hover > ul {
    display: block;
    z-index: 10;
}

/* 서브메뉴 마우스 올릴 때 효과 */
#topMenu > li > ul > li > a:hover {
    color: #FE750E;
    border-bottom-style: solid;
    border-bottom-width: medium;
}

/****************/
/* 메인 - 콘텐츠 */
/****************/

/*콘텐츠 공간 만들기*/
#container {
    font-size: 16px;
    padding-top: 120px;
    color: black;
    width: 100%;
}

/*콘텐츠 공간 나누기*/
#container #con-top, #search, #tab, #pasing {
    clear: both;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/**********************/
/* 메인 - 콘텐츠 + TOP */
/**********************/

/*TOP 공간 만들기*/
#con-top {
    margin-top: 100px;
    margin-bottom: 150px;
}

/*글자 스타일*/
#con-top h2 {
    font-size: 26px;
    float: left;
    margin-right: 30px;
}

#con-top span {
    font-size: 14px;
    margin: 10px;
    float: left;
}

/*************************/
/* 메인 - 콘텐츠 + search */
/*************************/

/* 검색창 공간 만들기 */
#search {
    padding: 100px 0 25px;
}

/* 옵션 스타일 */
#search select {
    width: 140px;
    height: 45px;
    border-color: #aaa;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}

/* 검색 스타일 */
#search input {
    border-color: #aaa;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}

#search input[type="text"] {
    width: 400px;
    height: 45px;
}

#search input[type="submit"] {
    width: 100px;
    height: 45px;
    background-color: #FE750E;
    color: white;
    cursor: pointer;
    text-align: center;
}

/************************/
/* 메인 - 콘텐츠 + TABLE */
/************************/

/* 게시판 공간 만들기 */
#tab table {
    width: 100%;
    height: 84px;
    border-color: #aaa;
    border-style: solid;
    border-width: thin;
    font-size: 16px;
    margin-bottom: 50px;
}

#tab th {
    text-align: center;
    background-color: #eee;
    padding-top: 10px;
}

#tab td {
    padding-top: 10px;
    text-align: center;
}

#tab td:nth-of-type(2) {
    text-align: left;
}

/************************/
/* 메인 - 콘텐츠 + PASING */
/************************/

/* 페이징 공간 만들기 */
#pasing {
    text-align: center;
    margin-bottom: 50px;
}

#pasing a {
    background-color: #FE750E;
    color: white;
    padding: 5px 10px;
}

/*************************/
/* 푸터 - 소개, sns, 주소 */
/*************************/

/* 푸터 공간 만들기 */
#footer {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #FE750E;
    padding: 10px;
    margin-bottom: 30px;
}

/********************/
/* 푸터 + 소개, 주소 */
/********************/

/* 소개 공간 만들기 */
#bottomMenu {
    float: left;
}

/* 소개 목록 스타일 */
#bottomMenu li {
    display: inline-block;
    border-right-style: solid;
    border-right-width: initial;
    border-right-color: #aaa;
    padding: 0 5px;
}

#bottomMenu li:nth-last-child(1) {
    border: none;
}

/* 소개 글자 스타일 */
#bottomMenu a {
    text-decoration: none;
    font-size: 14px;
    color: #aaa;
}

/* 주소 공간 만들기 */
#company {
    font-size: 14px;
    color: #aaa;
}

/**************/
/* 푸터 + sns */
/**************/

/* sns 공간 만들기 */
#sns {
    float: right;
}

/* sns 목록 스타일 */
#sns li {
    display: inline-block;
    width: 30px;
}

