/* 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 이름선택자를 이용해 input 안보이게 설정 */
[name="show"] {
    display: none;
}
/* 슬라이드 크기 지정, 가운데 정렬 */
.slidebox {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
/* 슬라이드에 들어가는 이미지 크기 지정 */
.slidebox img {
    max-width: 100%;
    max-height: 100%;
    z-index: 1;         /* 화면에 배치 우선순위 */
    position: relative; /* 메뉴바 보이기 위해 포지션 잡음 */
}

.slidebox .slidelist {
    white-space: nowrap; /* 가로로 정렬 */
    font-size: 0;
    overflow: hidden; /* 넘어가면 안보이게 설정 */
}

.slidebox .slideitem {
    position: relative;
    display: inline-block; /* 세로정렬>가운데정렬 */
    vertical-align: middle;
    width: 100%; /* 1개의 li가 ul과 같은 크기가 됨 */
    transition: all .35s; /* 슬라이드 방식 설정 */
}

.slidebox .slideitem label {
    position: absolute; /* 자율배치 */
    z-index: 1; /* absolute 우선순위 */
    top: 50%; /* 위에서 50% 위치 */
    transform: translateY(-50%);
    padding: 20px; /* 버튼 크기 */
    border-radius: 50%; /* 동그란 버튼모양 */
    cursor: pointer; /* 마우스가 올라가면 커서가 변함 */
}
/* 라벨 왼쪽 이미지 넣기 */
label.left {
    left: 20px; /* 왼쪽에서 20px 띄우기 */
    background-color: #5F5F5F;
    background-image: url("/mainPage/images/left.png");
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}
/* 라벨 오른쪽 이미지 넣기 */
label.right {
    right: 20px;
    background-color: #5F5F5F;
    background-image: url("/mainPage/images/right.png");
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}
/* 첫번째 화면 : 체크 되면 ul 안에 li를 선택 {10초마다 변하는 무한반복 애니메이션} */
[id="show01"]:checked~.slidelist .slideitem {
    transform: translateX(0);
    animation: show01 20s infinite;
}
/* 두번째 화면 */
[id="show02"]:checked~.slidelist .slideitem {
    transform: translateX(-100%);
    animation: show02 20s infinite;
}
/* 세번째 화면 */
[id="show03"]:checked~.slidelist .slideitem {
    transform: translateX(-200%);
    animation: show03 20s infinite;
}
/* 네번째 화면 */
[id="show04"]:checked~.slidelist .slideitem {
    transform: translateX(-300%);
    animation: show0 20s infinite;
}

@keyframes show01 {
    0% {        left: 0%;    }
    23% {        left: -0%;    }
    25% {        left: -100%;    }
    48% {        left: -100%;    }
    50% {        left: -200%;    }
    73% {        left: -200%;    }
    75% {        left: -300%;    }
    98% {        left: -300%;    }
    100% {        left: 0%;    }
}

@keyframes show02 {
    0% {        left: 0%;    }
    23% {        left: 0%;    }
    25% {        left: -100%;    }
    48% {        left: -100%;    }
    50% {        left: -200%;    }
    73% {        left: -200%;    }
    75% {        left: 100%;    }
    98% {        left: 100%;    }
    100% {        left: 0%;    }
}
@keyframes show03 {
    0% {        left: 0%;    }
    23% {        left: 0%;    }
    25% {        left: -100%;    }
    48% {        left: -100%;    }
    50% {        left: 200%;    }
    73% {        left: 200%;    }
    75% {        left: 100%;    }
    98% {        left: 100%;    }
    100% {        left: 0%;    }
}
@keyframes show04 {
    0% {        left: 0%;    }
    23% {        left: 0%;    }
    25% {        left: 300%;    }
    48% {        left: 300%;    }
    50% {        left: 200%;    }
    73% {        left: 200%;    }
    75% {        left: 100%;    }
    98% {        left: 100%;    }
    100% {        left: 0%;    }
}
/* 페이징 스타일 */
.paginglist {
    text-align: center; /* 가운데 정렬 */
    padding: 30px 0;
}
.paginglist>li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.paginglist>li>label {
    display: block;
    padding: 10px 30px;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;
}
.paginglist>li:hover>label {
    background: #333;
}
