aside {
    padding: 50;
    background-color: aqua;
}

aside section {
    background-color: yellow;
}

/* input 숨기기 */
input {
    /* display: none; */
}

/* 버튼 공간 만들기 */
.btn {
    padding: 0;
    border: 0;
    /* position: fixed; */
    z-index: 10;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* left: 410; */
}

/* 버튼 스타일 */
.btn label {
    padding: 10px;
    font-size: 16;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* 버튼 클릭시 안보이게 */
#right-button:checked+#rbtn {
    display: none;
}

#left-button:checked+#lbtn {
    display: none;
}

#left-button:checked ~ aside > section {
    background-color: white;
}