/* 
z-index로 보는 위치 정보
홈버튼 10
사이드 1

가상공간 5
텝이미지 6
사이드바 4
버튼 5
*/

/********************/
/* 사이드(정적) - 홈 */
/********************/

/* 사이드 헤더 공간 만들기 */
header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    /* 
    background-color: yellow;
    height: 100%;
    width: 60px;
    overflow: hidden;
     */
}

/* 홈 이미지 */
header img {
    background-color: blueviolet;
    height: 60px;
    width: 60px;
}

/*********************************/
/* 사이드바(동적) - 사이드바, 버튼 */
/*********************************/

/* 텝 공간 만들기 */
nav {
    z-index: 1;
    position: fixed;
    top: 70px;
    left: 0;
    height: 80%;
    width: 60px;
    overflow: hidden;
    /* 
    background-color: red;
     */
}

/* 가상 공간 만들기 */
nav div {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: burlywood;
}

/* 내비 체크박스 숨기기 */
input[type="radio"] {
    display: none;
}

/* 내비 텝 이미지 */
nav img {
    z-index: 6;
    position: relative;
    top: 0;
    background-color: white;
    height: 60px;
    width: 60px;
    padding: 20px 0px;
    border-style: solid;
    border-width: 1px 0;
    cursor: pointer;
}

/* 사이드바 공간 만들기 */
.conbox {
    background-color: greenyellow;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 60px;
    height: 100%;
    width: 350px;
    box-shadow: 0.1px 0 7px 0px;
    display: none;
}

/* 내비 탭 클릭시 이미지 변화 */
input[type="radio"]:checked+label img {
    background-color: tomato;
}

/* 텝 클릭시 내용 출현 */
input[id="tab1"]:checked~aside>.con1 {
    display: block;
}

input[id="tab2"]:checked~aside>.con2 {
    display: block;
}

input[id="tab3"]:checked~aside>.con3 {
    display: block;
}

input[id="tab4"]:checked~aside>.con4 {
    display: block;
}

input[id="tab5"]:checked~aside>.con5 {
    display: block;
}

/* 버튼 공간 만들기 */
aside {
    /* 
    position: fixed;
    z-index: 6;
    left: 410px;
    background: none;
    height: 50px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

     */
}

/* 버튼 공간 만들기 */
aside label {
    height: 50px;
    width: 20px;
    background-color: white;
    position: fixed;
    left: 410px;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

/* 버튼 스타일 */
aside button {
    height: 50px;
    width: 20px;
    cursor: pointer;
}

/* 우측 버튼 안보이게 */
#rbtn+label {
    display: none;
}

/* #button-left:checked {
    background-color: black;
    color: white;
    outline: none;
} */



/* 버튼을 클릭하면 효과*/
/* aside #button-left:checked~#sidebar-content {
    left: 100px;
    transform: translateX(50%)
} */