/****************/
/* 사이드 - 정적 */
/****************/

/* 사이드 공간 만들기 */
#side {
    background-color: yellow;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 20;
}

/* 사이드 이미지 */
#side img {
    background-color: blueviolet;
    height: 60px;
    width: 60px;
    margin-bottom: 5px;
}

/*********************************/
/* 사이드바 - 동적(사이드바, 버튼) */
/*********************************/

/* 사이드바 공간 만들기 */
#sidebar-content {
    background-color: white;
    top: 0;
    left: 60px;
    height: 100%;
    width: 300px;
    box-shadow: 1px 0 10px 1px;
    position: fixed;
    z-index: 19;
}

/* 버튼 공간 만들기 */
#sidebutton {
    position: fixed;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    left: 360px;
}

/* 버튼 스타일 */
button {
    font-size: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: black;
    border-width: 1px;
    background-color: white;
    cursor: pointer;
    transition: all 0.4s;
}

button:focus {
    background-color: black;
    color: white;
    outline: none;
}

/* 우측 버튼 안보이게 */
#button-right {
    display: none;
}

/* 버튼을 클릭하면 효과*/
aside #button-left:checked~#sidebar-content {
    left: 100px;
    /* transform: translateX(50%) */
}