/* 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    min-width: 660px;
    min-height: 700px;
}
/* header 스타일 */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 150px;
}

header div {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* 콘텐츠 스타일 */
div div {
    padding: 20px;
    width: 100%;
    height: 70%;
    min-height: 300px;
    background-color: white;
}

/* 푸터 스타일 */
footer {
    color: black;
    height: 110px;
    background-color: #777;
    border-top: 1px solid;
    padding: 10px 30px;
    text-align: center;
}